<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ifelicien.xmls">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="activities_all.addDish" />
        <activity android:name="activities_all.addResto" />
        <activity android:name="activities_all.addType" />
        <activity android:name="activities_all.showCreateOptions" />
        <activity android:name="activities_all.ShowCreateOrEdit" />
    </application>

</manifest>